


#body {
    background-image: url('/Projeto Ionic/Trabalho - Desenvolvimento WEB/fundo-esporte.jpg'); /* Substitua pelo caminho da sua imagem */
}

#botao-oval {
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 25px; /* Faz os botões ficarem ovais */
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.excluir {
    background-color: red;
    transition: background-color 0.3s; /* Transição mais rápida para o efeito de brilho */
}

.excluir:hover {
    background-color: #f44336; /* Vermelho mais claro ao passar o mouse */
}

.adicionar {
    background-color: green;
    transition: background-color 0.3s; /* Transição mais rápida para o efeito de brilho */
}

.adicionar:hover {
    background-color: #4CAF50; /* Verde mais claro ao passar o mouse */
}

#excluir:hover {
    background-color: #f44336; /* Red */
    transition: 1s;
}

#cabecalho {
    background-color: #333;
    color: #fff;
}


#celula {
    display: table-cell;
    border: 1px solid #000;
    padding: 5px;
    width: 300px;
    height: 40px;
}

#celulabotao {
    justify-content: center;
    display: table-cell;
    border: 1px solid #000;
    padding: 5px;
    width: 25%; 
    height: 40px;
}

/* Estilos para linhas pares (começando do índice 0) */
#linha:nth-child(even) {
    background-color: lightgray;
}

/* Estilos para linhas ímpares */
#linha:nth-child(odd) {
    background-color: lightblue;
}


#linha {
    display: table-row;
    font-size: larger;
}

#linha-cabecalho {
    display: table-row;
    background-color: #ffffff;
    color: #000000;
}

.mini-retangulo {
    width: 50px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    background-color: white; /* Cor de fundo branca */
    
}

#resultado {
    background-color: lightgreen;
    border: 1px solid #000;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    width: 100%;
}


#titulo {
    border: 1px solid #000;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    background-color: white;
}



#tabela {
    display: table;
    width: 100%;
}